$color-background: #fdfbfa;

$color-white: #ffffff;

$color-card-background: #e7c5bd;

$color-highlight: #cd8b7c;

$color-headline: #414155;

$color-paragraph: #575771;

$color-secondary: #7ace8a;

$color-boundary-black: #c4c4c4;
