@import "../node_modules/ress/ress.css";

@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap");

body {
  color: $color-paragraph;
  font-family: "M PLUS 1", sans-serif;
}

body,
#app {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  background-color: $color-background;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-family: "Reem Kufi Fun", sans-serif;
}

h2 {
  font-size: 1.25rem;
  font-family: "Reem Kufi Fun", sans-serif;
}

h3 {
  font-size: 1.125rem;
  font-family: "Reem Kufi Fun", sans-serif;
}

p {
  font-size: 1rem;
}
