@import "../node_modules/ress/ress.css";

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=M+PLUS+1:wght@400;700&display=swap");

body {
  color: $color-paragraph;
  font-family: "M PLUS 1", sans-serif;
}

body,
#app {
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  background-color: $color-background;
}

a {
  color: inherit;
  text-decoration: none;
}
