name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  packages:
    name: Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: actions/checkout@v5
      - run: npm ci
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: actions/checkout@v5
      - run: npm ci
      - run: npm run build
        env:
          NODE_ENV: production
  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: actions/checkout@v5
      - run: npm ci
      - run: npm run lint
  typeCheck:
    name: Type Check
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: actions/checkout@v5
      - run: npm ci
      - run: npm run type-check
